<footer class="site-footer">
    <div class="container">
        <p>© {% assign current_year = 'now' | date: '%Y' %}{{ current_year }} {{ site.owner | default: 'The Author' }}. All rights reserved.</p>
    </div>
</footer>
